{%extends 'base.html'%}

{%block title%}
 Корпоративная сеть
{%endblock%}

{%block main%}
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color1 mb-5">Описание уязвимости Cross Site Scripting (XSS)</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <p>Cross-Site Scripting (XSS) - это тип веб-атаки, который позволяет злоумышленнику внедрить вредоносный скрипт (обычно JavaScript) на веб-страницу и запустить его на компьютерах других пользователей, когда они просматривают эту страницу. XSS является одной из самых распространенных уязвимостей веб-приложений.</p>
                <p>Уязвимость XSS возникает, когда входные данные, полученные от пользователя, не достаточно проверяются или очищаются перед отображением на веб-странице. Это позволяет злоумышленнику внедрить вредоносный код, который выполняется в контексте браузера жертвы и может делать различные вредоносные действия, такие как кража сеансовых данных, перенаправление на фальшивые страницы, изменение содержимого страницы, получение личной информации и т.д.</p>
                <p>Существует несколько типов XSS:</p>
                <p>1. <b>Stored (постоянный) XSS:</b> Вредоносный скрипт сохраняется на сервере и отображается всем пользователям, которые просматривают определенную страницу. Например, злоумышленник может добавить вредоносный комментарий, который будет отображаться всем пользователям, читающим этот комментарий.</p>
                <p>2. <b>Reflected (отраженный) XSS:</b> Вредоносный скрипт внедряется в URL или параметры запроса, а сервер возвращает его в браузер пользователя. Например, злоумышленник может отправить жертве фишинговую ссылку с вредоносным скриптом в параметрах запроса, который будет запущен при переходе по ссылке.</p>
                <p>3. <b>DOM-based XSS:</b> В этом случае уязвимость возникает на стороне клиента при обработке данных на стороне клиента (в DOM - Document Object Model). Злоумышленник может модифицировать DOM-структуру страницы, что приводит к запуску вредоносных скриптов.</p>
                <p>Для предотвращения уязвимостей XSS рекомендуется следующие меры:</p>
                <p>- Валидация и санитизация входных данных на серверной стороне.</p>
                <p>- Использование безопасных методов для вставки динамических данных на страницу (например, методы, предоставляемые шаблонизаторами).</p>
                <p>- Использование HTTP заголовка Content-Security-Policy (CSP), чтобы ограничить источники, из которых можно загружать скрипты, стили и другой контент.</p>
                <p>- Установка флага "HttpOnly" для сеансовых куки, чтобы предотвратить доступ к ним из скриптов на стороне клиента.</p>
                <p>- Установка флага "Secure" для сеансовых куки, чтобы их можно было передавать только по защищенному (HTTPS) соединению.</p>
                <p>Безопасность веб-приложений является критически важным аспектом, и все разработчики должны быть осведомлены о возможных уязвимостях и методах их предотвращения.</p>
            </div>
            <div class="col-xl-4 col-lg-12">
                <pre>
                    <code>
                        <span class="comment">// В части кода ниже представлена уязвимость типа Stored (постоянный) XSS.</span>
                        <span class="comment">// Код <b>&lt;td v-html="task.kr_name"&gt;&lt;/td&gt;</b> предполагает использование Vue.js - популярного JavaScript-фреймворка
                             для создания интерактивных пользовательских интерфейсов. В данном случае, это директива v-html, которая является одной из особенностей Vue.js,
                              и используется для вставки HTML-кода внутрь элемента.</span>

                        <span class="comment">-------------------------------------------</span>
                        &lt;tbody v-for="task, index in tasks" :key="index"&gt;
                            &lt;td v-html="task.kr_name"&gt;&lt;/td&gt;
                            &lt;td v-html="task.name"&gt;&lt;/td&gt;
                            &lt;td v-html="task.kategor"&gt;&lt;/td&gt;
                            &lt;td v-html="task.tip"&gt;&lt;/td&gt;
                        </tbody>
                        <span class="comment">-------------------------------------------</span>

                        <span class="comment">// Это комментарий</span>
                        <span class="number">console.log</span>(<span class="string">'Hello, World!'</span>);
                        
                    </code>
                </pre>  
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" id="app2">
        <div class="row">
            <div class="col-lg-6">
                <div class = "card-search">
                    <h4 class="text-center">Поиск ИС</h4>
                    <form class="card-form" @submit.prevent="searchTask">
                        <div class = "input">
                            <input type="text" class="input-field" v-model="search.kr_name">
                            <label class="input-label">Краткое наименование</label>
                        </div>
                        <div class="action">
                            <button class="action-button" type ="submit">Поиск</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class = "card-search">
                    <h4 class="text-center">Добавить ИС</h4>
                    <form class="card-form" @submit.prevent="createTask">
                        <div class = "input">
                            <input type="text" class="input-field" v-model="task.kr_name">
                            <label class = "input-label">Краткое наименование</label>
                        </div>
                        <div class = "input">
                            <input type="text" class="input-field" v-model="task.name">
                            <label class = "input-label" for="">Полное наименование</label>
                        </div>
                        <div class = "input">
                            <select v-model="task.kategor">
                                <option>К</option>
                                <option>КТ</option>
                                <option>ПНд</option>
                            </select>
                            <label class = "input-label">Категория обрабатываемой информации</label>
                        </div>
                        <div class = "input">
                            <select v-model="task.tip">
                                <option>локальная</option>
                                <option>корпоративная</option>
                            </select>
                            <label class = "input-label">Тип обрабатываемой информации</label>
                        </div>
                        <div class="action">
                            <button class="action-button" type="submit">добавить</button>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <table class ="table">
                    <thead>
                        <tr>
                            <th scope="col">Краткое наименование</th>
                            <th scope="col">Полное наименование</th>
                            <th scope="col">Категория обрабатываемой информации</th>
                            <th scope="col">Тип обрабатываемой информации</th>
                        </tr>
                    </thead>
                        <tbody v-for="task, index in tasks" :key="index">
                            <td v-html="task.kr_name"></td> 
                            <td v-html="task.name"></td>
                            <td v-html="task.kategor"></td>
                            <td v-html="task.tip"></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{{url_for('static', filename='js/app2.js')}}"></script>
{%endblock%}
