{%extends 'base.html'%}

{%block title%}
 Корпоративная сеть
{%endblock%}

{%block main%}
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color2 mb-5">Описание уязвимости Command Injection</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><b>Command Injection (Инъекция команд)</b> - это уязвимость веб-приложений и других программных систем, которая возникает, когда злоумышленник может внедрить и выполнить произвольные команды в окружении, где выполняется уязвимое приложение. Уязвимость возникает из-за недостаточной обработки или проверки пользовательского ввода, который затем интерпретируется как команда операционной системы или интерпретатора команд.</p>
                <p>Процесс, который приводит к Command Injection, часто связан с использованием неправильной конкатенации или непроверенного выполнения команд. Когда приложение не адекватно обрабатывает пользовательский ввод, злоумышленник может вводить специально сконструированные строки, содержащие команды операционной системы, метасимволы или управляющие последовательности.</p>
                <p><b>Пример уязвимости</b> Command Injection:</p>
                <p>Допустим, у вас есть веб-приложение, которое выполняет команду операционной системы через функцию <b>subprocess.check_output()</b>, и оно использует пользовательский ввод без проверки:</p>
                <code><span class="keyword">user_input = request.get_json().get('name')
                    cmd = 'cat' + " " + user_input
                    results = subprocess.check_output(cmd, shell=True)</span></code>
                <p>Если злоумышленник отправит следующий JSON-запрос:</p>
                <code>{"name": "file.txt; ls"}</code>
                <p>То команда, которая будет выполнена на сервере, выглядит следующим образом:</p>
                <code>cat file.txt; ls</code>
                <p>Это позволяет злоумышленнику прочитать содержимое файла <b>"file.txt"</b>, а затем выполнить команду <b>"ls"</b> для просмотра содержимого текущего каталога сервера.</p>
                <p><b>Причины уязвимости</b> Command Injection:</p>
                <ul>
                    <li>Недостаточная проверка пользовательского ввода: Приложение может допустить ввод, который содержит команды или метасимволы, что позволяет злоумышленнику выполнить произвольные команды.</li>
                    <li>Конкатенация строк: Конкатенация пользовательского ввода с командами без должной обработки может привести к выполнению команд внедренного кода.</li>
                    <li>Использование shell=True: Если параметр shell в функции subprocess.check_output() установлен в True, это может создать дополнительные уязвимости.</li>
                </ul>
                <p><b>Последствия уязвимости</b> Command Injection:</p>
                <ul>
                    <li>Нежелательное выполнение произвольных команд на сервере или в окружении системы.</li>
                    <li>Получение полного контроля над сервером и системой.</li>
                    <li>Потенциальный доступ к конфиденциальным данным.</li>
                    <li>Изменение, удаление или разрушение файлов и данных на сервере.</li>
                </ul>
                <p>Как защититься от уязвимости Command Injection:</p>
                <ul>
                    <li>Никогда не доверяйте пользовательскому вводу и не используйте его напрямую для выполнения команд.</li>
                    <li>Используйте параметризованные запросы или подготовленные выражения для передачи данных в команды безопасным образом.</li>
                    <li>Проводите проверку и санитизацию пользовательского ввода, чтобы удалить опасные символы и команды.</li>
                    <li>Используйте функции и инструменты для работы с командами, которые автоматически обеспечивают безопасное выполнение команд.</li>
                    <li>Установите минимальные привилегии доступа к процессу выполнения команд.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" id="app3">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color1 mb-5">Пример уязвимости Command Injection</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <pre>
                    <code style="background-color: #eee;">
                        <span class="keyword">Для эксплуатации уязвимости необходимо</span>
                    </code>
                </pre>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class = "card-search">
                    <h4 class="text-center">Просмотр содержимого файла с помощью команды 'cat'</h4>
                    <form class="card-form" @submit.prevent="searchTask">
                        <div class = "input">
                            <input type="text" class="input-field" v-model="search.name">
                            <label class="input-label">Введите название файла</label>
                        </div>
                        <div class="action">
                            <button class="action-button" type ="submit">Запрос</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class ="table">
                    <thead>
                        <tr>
                            <th scope="col">Вывод команды</th> 
                        </tr>
                    </thead>
                        <tbody>
                            <td>{ tasks.info }</td> 
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</section>
<script src="{{url_for('static', filename='js/app3.js')}}"></script>
{%endblock%}
