{%extends 'base.html'%}

{%block title%}
 Корпоративная сеть
{%endblock%}

{%block main%}
<section>
    <div class="container" id="app3">
        <div class="row">
            <div class="col-lg-6">
                <div class = "card-search">
                    <h4 class="text-center">Просмотр содержимого файла с помощью команды 'cat'</h4>
                    <form class="card-form" @submit.prevent="searchTask">
                        <div class = "input">
                            <input type="text" class="input-field" v-model="search.name">
                            <label class="input-label">Введите название файла</label>
                        </div>
                        <div class="action">
                            <button class="action-button" type ="submit">Запрос</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class ="table">
                    <thead>
                        <tr>
                            <th scope="col">Вывод команды</th> 
                        </tr>
                    </thead>
                        <tbody>
                            <td>{ tasks.info }</td> 
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</section>
<script src="{{url_for('static', filename='js/app3.js')}}"></script>
{%endblock%}
