{%extends 'base.html'%}

{%block title%}
 Корпоративная сеть
{%endblock%}

{%block main%}
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color2 mb-5">Описание уязвимости Cross Site Scripting (XSS)</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <p><b>Cross-Site Scripting (XSS)</b> - это тип веб-атаки, который позволяет злоумышленнику внедрить вредоносный скрипт (обычно JavaScript) на веб-страницу и запустить его на компьютерах других пользователей, когда они просматривают эту страницу. XSS является одной из самых распространенных уязвимостей веб-приложений.</p>
                <p>Уязвимость XSS возникает, когда входные данные, полученные от пользователя, не достаточно проверяются или очищаются перед отображением на веб-странице. Это позволяет злоумышленнику внедрить вредоносный код, который выполняется в контексте браузера жертвы и может делать различные вредоносные действия, такие как кража сеансовых данных, перенаправление на фальшивые страницы, изменение содержимого страницы, получение личной информации и т.д.</p>
                <p>Существует несколько типов XSS:</p>
                <p>1. <b>Stored (постоянный) XSS:</b> Вредоносный скрипт сохраняется на сервере и отображается всем пользователям, которые просматривают определенную страницу. Например, злоумышленник может добавить вредоносный комментарий, который будет отображаться всем пользователям, читающим этот комментарий.</p>
                <p>2. <b>Reflected (отраженный) XSS:</b> Вредоносный скрипт внедряется в URL или параметры запроса, а сервер возвращает его в браузер пользователя. Например, злоумышленник может отправить жертве фишинговую ссылку с вредоносным скриптом в параметрах запроса, который будет запущен при переходе по ссылке.</p>
                <p>3. <b>DOM-based XSS:</b> В этом случае уязвимость возникает на стороне клиента при обработке данных на стороне клиента (в DOM - Document Object Model). Злоумышленник может модифицировать DOM-структуру страницы, что приводит к запуску вредоносных скриптов.</p>
            </div>
            <div class="col-xl-6 col-lg-12">
                <p>Для предотвращения уязвимостей XSS рекомендуется следующие меры:</p>
                <ul>
                    <li>Валидация и санитизация входных данных на серверной стороне.</li>
                    <li>Использование безопасных методов для вставки динамических данных на страницу (например, методы, предоставляемые шаблонизаторами).</li>
                    <li>Использование HTTP заголовка Content-Security-Policy (CSP), чтобы ограничить источники, из которых можно загружать скрипты, стили и другой контент.</li>
                    <li>Установка флага "HttpOnly" для сеансовых куки, чтобы предотвратить доступ к ним из скриптов на стороне клиента.</li>
                    <li>Установка флага "Secure" для сеансовых куки, чтобы их можно было передавать только по защищенному (HTTPS) соединению.</li>
                  </ul>
                <p>Безопасность веб-приложений является критически важным аспектом, и все разработчики должны быть осведомлены о возможных уязвимостях и методах их предотвращения.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" id="app6">
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class = "card-search">
                    <h4 class="text-center">Добавить фото</h4>
                    <form class="card-form" @submit.prevent="uploadPhoto">
                        <div class="input">
                            <input type="file" class="input-field" accept="image/*" @change="handleFileInputChange">
                            <label class="input-label">Добавьте фото</label>
                        </div>
                        <div class="action">
                            <button class="action-button" type ="submit">Загрузить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{{url_for('static', filename='js/app6.js')}}"></script>
{%endblock%}