<style>
    iframe {
        position: relative;
        width: 1440;
        height: 2527;
        opacity: 0.1;
        z-index: 2;
    }
    button {
        position: absolute;
        top: 1835;
        left: 375;
        z-index: 1;
    }
    img {
        position: absolute;
        top: 1000;
        left: 375;
        z-index: 1;
    }
    h1 {
        position: absolute;
        top: 1835;
        left: 375;
        z-index: 1;
    }
</style>
<img src="{{ url_for('static', filename='img/03.png') }}">
<iframe src="http://10.10.102.119:81/task4"></iframe>
<h1>Нажми на кнопку чтобы выграть!</h1>
<button>Click</button>

