{%extends 'base.html'%}

{%block title%}
 Корпоративная сеть
{%endblock%}

{%block main%}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class = "card">
                <div class="card-body">
                  <h4 class="card-title">Добавить ИС</h4>
                  <form @submit.prevent="createTask">
                    <div class = "form-group col-lg-8">
                      <label for="">Краткое наименование</label>
                      <input type="text" class="form-control" v-model="task.kr_name">
                    </div>
                    <div class = "form-group col-lg-8">
                      <label for="">Полное наименование</label>
                      <input type="text" class="form-control" v-model="task.name">
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">добавить ИС</button>
                    </div>    
                  </form>
                </div>
              </div>
        </div>
    </div>
</div>
<div class = "container">
    <div class="row" id="app">
        <div class="col-12">
            <div class="card-body">
                <table class ="table">
                <thead>
                    <tr>
                        <th scope="col">Краткое наименование</th>
                        <th scope="col">Полное наименование</th>
                        <th scope="col">Категория обрабатываемой информации</th>
                        <th scope="col">Тип обрабатываемой информации</th>
                    </tr>
                </thead>
                    <tbody v-for="taski, index in tasks" :key="index">
                        <td>{ taski.kr_name }</td> 
                        <td>{ taski.name }</td>
                        <td>{ taski.kategor }</td>
                        <td>{ taski.tip }</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{%endblock%}
