{%extends 'base.html'%}

{%block title%}
 Корпоративная сеть
{%endblock%}

{%block main%}
<section>
    <div class="container" id="app">
        <div class="row">
            <div class="col-lg-6">
                <div class = "card-search">
                    <h4 class="text-center">Добавить ИС</h4>
                    <form class="card-form" @submit.prevent="createTask">
                        <div class = "input">
                            <input type="text" class="input-field" v-model="task.kr_name">
                            <label class = "input-label">Краткое наименование</label>
                        </div>
                        <div class = "input">
                            <input type="text" class="input-field" v-model="task.name">
                            <label class = "input-label" for="">Полное наименование</label>
                        </div>
                        <div class = "input">
                            <select v-model="task.kategor">
                                <option>К</option>
                                <option>КТ</option>
                                <option>ПНд</option>
                            </select>
                            <label class = "input-label">Категория обрабатываемой информации</label>
                        </div>
                        <div class = "input">
                            <select v-model="task.tip">
                                <option>локальная</option>
                                <option>корпоративная</option>
                            </select>
                            <label class = "input-label">Тип обрабатываемой информации</label>
                        </div>
                        <div class="action">
                            <button class="action-button" type="submit">добавить</button>
                        </div>    
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class = "card-search">
                    <h4 class="text-center">Поиск ИС</h4>
                    <form class="card-form" @submit.prevent="searchTask">
                        <div class = "input">
                            <input type="text" class="input-field" v-model="search.kr_name">
                            <label class="input-label">Краткое наименование</label>
                        </div>
                        <div class="action">
                            <button class="action-button" type ="submit">Поиск</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <table class ="table">
                    <thead>
                        <tr>
                            <th scope="col">Краткое наименование</th>
                            <th scope="col">Полное наименование</th>
                            <th scope="col">Категория обрабатываемой информации</th>
                            <th scope="col">Тип обрабатываемой информации</th>
                        </tr>
                    </thead>
                        <tbody v-for="task, index in tasks" :key="index">
                            <td>{ task.kr_name }</td> 
                            <td>{ task.name }</td>
                            <td>{ task.kategor }</td>
                            <td>{ task.tip }</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{{url_for('static', filename='js/app.js')}}"></script>
{%endblock%}
