{%extends 'base.html'%}

{%block title%}
 Корпоративная сеть
{%endblock%}

{%block main%}
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color2 mb-5">Описание уязвимости SQL-injection</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><b>SQL инъекция (SQL injection)</b> - это вид атаки на веб-приложения, при котором злоумышленник внедряет злонамеренные SQL-запросы в пользовательский ввод, который затем передается и выполняется на сервере базы данных. Это позволяет атакующему получить несанкционированный доступ к данным в базе данных или даже повлиять на ее содержимое. </p>
                <p>Принцип работы SQL инъекции заключается в неадекватной обработке пользовательского ввода. Когда входные данные не фильтруются или не санитизируются должным образом перед тем, как они используются в SQL-запросах, злоумышленник может вставить свои собственные SQL-коды, которые будут выполняться на сервере.</p>
                <p><b>Пример:</b></p>
                <p>Предположим, у нас есть веб-приложение, которое выполняет SQL-запрос для авторизации пользователя:</p>
                <code>SELECT * FROM users WHERE username = 'введенное_имя' AND password = 'введенный_пароль';</code>
                <p>Если приложение не санитизирует входные данные, злоумышленник может ввести в поле "введенное_имя" следующее:</p>
                <code>' OR '1'='1</code>
                <p>Итак, измененный SQL-запрос будет выглядеть так:</p>
                <code>SELECT * FROM users WHERE username = '' OR '1'='1' AND password = 'введенный_пароль';</code>
                <p>В результате SQL-запрос будет верен, потому что условие '1'='1' всегда истинно. Это позволит злоумышленнику обойти процесс авторизации и получить доступ к данным всех пользователей или выполнить другие действия с базой данных.</p>
                <p>Чтобы защититься от SQL инъекций, рекомендуется использовать параметризованные запросы, подготовленные выражения или хранимые процедуры. Это позволит серверу правильно обрабатывать входные данные и предотвращать внедрение вредоносного SQL-кода.</p>
                <p>Никогда не доверяйте или не предполагайте, что ввод от пользователей безопасен. Всегда выполняйте соответствующую проверку и санитизацию данных, прежде чем использовать их в SQL-запросах.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <pre>
                    <code>
                        <span class="comment">-------------------------------------------</span>
                        <span class="comment">В части кода ниже представлена уязвимость типа <b>SQL-injection</b></span>
                        <span class="comment">-------------------------------------------</span>
                            @task.route('/task_search', methods=['POST'])
                            def task_search():
                                user_input = request.get_json().get('kr_name')  <span class="comment">// считываем введенное пользователем значение в переменную</span>
                                sql = text(f"SELECT * FROM iss WHERE kr_name = '{str(user_input)}';")   <span class="comment">// формируем запрос в базу данных iss подставляя введенное пользователем значение</span>
                                q = db.session.execute(sql) <span class="comment"></span> <span class="comment">// делаем запрос в БД</span>
                                results = [dict(row._mapping) for row in q.fetchall()]
                                return jsonify(results) <span class="comment">// возвращаем результат в веб-интерфейс</span>
                        <span class="comment">-------------------------------------------</span>    
                        <span class="comment">Фрагмент этого кода реализован в примере ниже</span>
                        <span class="comment">-------------------------------------------</span>                
                    </code>
                </pre>  
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" id="app">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color1 mb-5">Пример уязвимости SQL-injection</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <pre>
                    <code style="background-color: #eee;">
                        <span class="keyword">Для эксплуатации уязвимости необходимо сделать запрос через форму поиска "Поиск ИС (информационных систем)". 
                        Для проверки того, имеется ли в этой форме уязвимость типа SQL-injection надо сделать следующие запросы 
                        и через инструменты разработчика (f12) посмотреть какой ответ нам вернулся</span>
                        <span class="comment">-------------------------------------------</span> 
                        <span class="comment">// команда ниже выведет все значения из таблицы</span>
                        <span class="string"><b>' or 1=1 --</b></span>
                        <span class="comment">-------------------------------------------</span> 
                        <span class="comment">// команда ниже выведет перечень все таблиц</span>
                        <span class="string"><b>' ; SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'; --</b></span>
                        <span class="comment">-------------------------------------------</span> 
                        <span class="comment">// команда ниже выведет все значения таблицы <b>User</b></span>
                        <span class="string"><b>' ; SELECT * FROM User; --</b></span>
                        <span class="comment">-------------------------------------------</span> 
                    </code>
                </pre>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class = "card-search">
                    <h4 class="text-center">Добавить ИС</h4>
                    <form class="card-form" @submit.prevent="createTask">
                        <div class = "input">
                            <input type="text" class="input-field" v-model="task.kr_name">
                            <label class = "input-label">Краткое наименование</label>
                        </div>
                        <div class = "input">
                            <input type="text" class="input-field" v-model="task.name">
                            <label class = "input-label" for="">Полное наименование</label>
                        </div>
                        <div class = "input">
                            <select v-model="task.kategor">
                                <option>К</option>
                                <option>КТ</option>
                                <option>ПНд</option>
                            </select>
                            <label class = "input-label">Категория обрабатываемой информации</label>
                        </div>
                        <div class = "input">
                            <select v-model="task.tip">
                                <option>локальная</option>
                                <option>корпоративная</option>
                            </select>
                            <label class = "input-label">Тип обрабатываемой информации</label>
                        </div>
                        <div class="action">
                            <button class="action-button" type="submit">добавить</button>
                        </div>    
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class = "card-search">
                    <h4 class="text-center">Поиск ИС</h4>
                    <form class="card-form" @submit.prevent="searchTask">
                        <div class = "input">
                            <input type="text" class="input-field" v-model="search.kr_name">
                            <label class="input-label">Краткое наименование</label>
                        </div>
                        <div class="action">
                            <button class="action-button" type ="submit">Поиск</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <table class ="table">
                    <thead>
                        <tr>
                            <th scope="col">Краткое наименование</th>
                            <th scope="col">Полное наименование</th>
                            <th scope="col">Категория обрабатываемой информации</th>
                            <th scope="col">Тип обрабатываемой информации</th>
                        </tr>
                    </thead>
                        <tbody v-for="task, index in tasks" :key="index">
                            <td>{ task.kr_name }</td> 
                            <td>{ task.name }</td>
                            <td>{ task.kategor }</td>
                            <td>{ task.tip }</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{{url_for('static', filename='js/app.js')}}"></script>
{%endblock%}
