{%extends 'base.html'%}

{%block title%}
 Главная страница
{%endblock%}

{%block main%}
<section class="about">
    <div class="container">
        <div class="row">
            <h2 class="text-center text-uppercase color1 mb-5">Примеры уязвимостей</h2>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><a class="btn" target="_blank" href="{{url_for('task.index')}}"><i class="icon-buffer"></i></a></div>
                <h5 class="text-center">SQL-инъекции</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><a class="btn" target="_blank" href="{{url_for('task2.index')}}"><i class="icon-eye-off"></i></a></div>
                <h5 class="text-center">XSS-инъекции</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><a class="btn" target="_blank" href="{{url_for('task3.index')}}"><i class="icon-block"></i></a></div>
                <h5 class="text-center">OS-инъекции</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><a class="btn" target="_blank" href="#"><i class="icon-share"></i></a></div>
                <h5 class="text-center">Уязвимые компоненты</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><a class="btn" target="_blank" href="#"><i class="icon-folder-open"></i></a></div>
                <h5 class="text-center">Загрузка файлов</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><a class="btn" target="_blank" href="{{url_for('task4.index')}}"><i class="icon-share"></i></a></div>
                <h5 class="text-center">Clickjacking</h5>
                <div class="line"></div>
            </div>
        </div>

        </div>
    </div>
</section>
{%endblock%}