{%extends 'base.html'%}

{%block title%}
 Главная страница
{%endblock%}
<section class="about">
    <div class="container">
        <div class="row">
            <h2 class="text-center text-uppercase color1 mb-5">Об уязвимостях</h2>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-mail"></i></div>
                <h5 class="text-center">SQL-инъекции</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-hash"></i></div>
                <h5 class="text-center">XSS-инъекции</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-mail"></i></div>
                <h5 class="text-center">OS-инъекции</h5>
                <div class="line"></div>
            </div>
        </div>

        </div>
    </div>
</section>
{%block main%}
<br /><h2 >Календарь ОИБ</h2><br />
{%endblock%}