{%extends 'base.html'%}

{%block title%}
 Главная страница
{%endblock%}

{%block main%}
<section class="about">
    <div class="container">
        <div class="row">
            <h2 class="text-center text-uppercase color1 mb-5">Примеры уязвимостей</h2>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><a class="btn" target="_blank" href="{{url_for('task.index')}}"><i class="icon-buffer"></i></a></div>
                <h5 class="text-center">SQL-инъекции</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><a class="btn" target="_blank" href="{{url_for('task2.index')}}"><i class="icon-eye-off"></i></a></div>
                <h5 class="text-center">XSS-инъекции</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><a class="btn" target="_blank" href="{{url_for('task3.index')}}"><i class="icon-block"></i></a></div>
                <h5 class="text-center">OS-инъекции</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><a class="btn" target="_blank" href="#"><i class="icon-share"></i></a></div>
                <h5 class="text-center">CSRF</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><a class="btn" target="_blank" href="#"><i class="icon-folder-open"></i></a></div>
                <h5 class="text-center">Загрузка файлов</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><a class="btn" target="_blank" href="{{url_for('task4.index')}}"><i class="icon-share"></i></a></div>
                <h5 class="text-center">Clickjacking</h5>
                <div class="line"></div>
            </div>
        </div>

        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='img/05.png') }}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/06.png') }}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/07.png') }}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>
{%endblock%}